strings are immutable which means that you cannot change them by running function on them

In [6]:
single = 'aditi'
double = "aditi"
triple = '''aditi'''
print(single)
print(double)
print(triple)

aditi
aditi
aditi

In [10]:
nameshort = name[0:3]
print(nameshort)

adi

In [12]:
char = name[1]
print(char)

d

In [16]:
print(name[0:3])
print(name[-4:]) #same as[-4:0]
print(name[:1]) #same as[0:1]
print(name[0:3])

adi
diti
a
adi

In [22]:
# slicing with skip value

word = "amazing"
word[1:6:2]

a = "abcdefghijklm"
a[0:13:2]

'acegikm'

# string function

In [37]:
name="amazing"

print(len(name)) #length of string
print(name.endswith("ing"))
print(name.startswith("ha"))
print(name.capitalize()) #capitalize the first letter
print(name.lower()) 
print(name.upper()) 
print(name.title())

7
True
False
Amazing
amazing
AMAZING
Amazing

In [41]:
# replace word

a = "hello world"
replace = a.replace("world", "aditi")
print(replace)

hello aditi

# practice set

In [55]:
#1 display name followed by good afternoon
name = input("enter your name: ")

print(f"good afternoon {name}")

enter your name:  aditi

good afternoon aditi

In [57]:
#2 fill name and date in template

letter = '''dear <|name|>,
            you are selected!
            <|date|>'''

print(letter.replace("<|name|>", "aditi").replace("<|date|>", "19th september, 2024"))

dear aditi,
            you are selected!
            19th september, 2024

In [69]:
#3 detec double space in string

name = "aditi  bhargava"
print(name.find("  "))
#string ka method hota hai find jo ki -1 return krta hai agar occurance nahi mili to aur agar occurance mili to index no return krega

5

In [79]:
#4 replace double space from 3 with single space

name = "aditi bhargava  "
print(name.replace("  "," "))

aditi bhargava

In [85]:
#5  use escape sequence

letter = "dear aditi, \n this python course is nice. \n thanks!"
print(letter)

dear aditi,
 this python course is nice.
 thanks!