# list

In [14]:
a = ["apple", " orange", 5, 3534.6,"aditi", "gaurja"]
print(a)
print(a[0])
a[0] = "grapes"
print(a)
print(a[1:4])

['apple', ' orange', 5, 3534.6, 'aditi', 'gaurja']
apple
['grapes', ' orange', 5, 3534.6, 'aditi', 'gaurja']
[' orange', 5, 3534.6]

# list methods

In [43]:
#list is mutable mtlb change kr skte hai
#string is immutable mtlb change nahi kr skte hai

a = ["apple", " orange", 5, 3534.6,"aditi", "gaurja"]

#append at the end add krna
a.append("rohan")
print(a)

#sort
b = [1,5,3,2,7,5,8,9,3,2,7]
b.sort()
print(b)

#reverse
b.reverse()
print(b)

#insert particular index pe add krna hai to
b.insert(3, 15052003)
print(b) 

#pop delete particular index element and return its value
b.pop(3)
print(b)

value = b.pop(2)
print(value)
print(b)

#remove 
b.remove(1)
print(b)

['apple', ' orange', 5, 3534.6, 'aditi', 'gaurja', 'rohan']
[1, 2, 2, 3, 3, 5, 5, 7, 7, 8, 9]
[9, 8, 7, 7, 5, 5, 3, 3, 2, 2, 1]
[9, 8, 7, 15052003, 7, 5, 5, 3, 3, 2, 2, 1]
[9, 8, 7, 7, 5, 5, 3, 3, 2, 2, 1]
7
[9, 8, 7, 5, 5, 3, 3, 2, 2, 1]
[9, 8, 7, 5, 5, 3, 3, 2, 2]

# tuples

In [53]:
a = (1,2,3,4)
print(a)

(1, 2, 3, 4)

In [63]:
#empty tuple
a = ()
print(a)
print(type(a))

()
<class 'tuple'>

In [65]:
b = (1,2,3,567,"aditii")
#in tuple we cant change any thing means they are immutable

# tuple methods

In [82]:
a = (1,2,"aditi","rohan","orange","apple")
print(b)

#count
no= a.count(2) #means 2 no sirf ek baar aata hai humari list mai
print(no)

#index
i = a.index("aditi")
print(i)

#length
print(len(a))

#min and max
b = (10,20,30)
print(min(b))
print(max(b))

#slicing but here new tupple will be returned
sliced = a[1:5]
print(sliced)

(10, 20, 30)
1
2
6
10
30
(2, 'aditi', 'rohan', 'orange')

# practice set

In [87]:
#1 user will enter fruits name and will store in list

fruit = []
f1 = input("enter fruit name: ")
fruit.append(f1)
f2 = input("enter fruit name: ")
fruit.append(f2)
f3 = input("enter fruit name: ")
fruit.append(f3)
f4 = input("enter fruit name: ")
fruit.append(f4)
f5 = input("enter fruit name: ")
fruit.append(f5)
f6 = input("enter fruit name: ")
fruit.append(f6)
f7 = input("enter fruit name: ")
fruit.append(f7)

print(fruit)

enter fruit name:  apple
enter fruit name:  orange
enter fruit name:  kiwi
enter fruit name:  mango
enter fruit name:  cherry
enter fruit name:  grapes
enter fruit name:  pinrapple

['apple', 'orange', 'kiwi', 'mango', 'cherry', 'grapes', 'pinrapple']

In [93]:
#2 accept marks of 6 students and display

student = []
grade = []
s1 = input("enter student name: ")
student.append(s1)
g1 = input("enter student grade: ")
student.append(g1)
s2 = input("enter student name: ")
student.append(s2)
g2 = input("enter student grade: ")
student.append(g2)
s3 = input("enter student name: ")
student.append(s3)
g3 = input("enter student grade: ")
student.append(g3)
s4 = input("enter student name: ")
student.append(s4)
g4 = input("enter student grade: ")
student.append(g4)
s5 = input("enter student name: ")
student.append(s5)
g5 = input("enter student grade: ")
student.append(g5)
s6 = input("enter student name: ")
student.append(s6)
g6 = input("enter student grade: ")
student.append(g6)


print(student)
print(grade)

enter student name:  aditi
enter student grade:  a
enter student name:  gaurja
enter student grade:  a
enter student name:  varun
enter student grade:  b
enter student name:  sona
enter student grade:  b
enter student name:  harsh
enter student grade:  c
enter student name:  panda
enter student grade:  d

['aditi', 'a', 'gaurja', 'a', 'varun', 'b', 'sona', 'b', 'harsh', 'c', 'panda', 'd']
[]

In [95]:
#4 sum a list with 4 numbers

li = [2,4,6,8]
print(sum(li))

20

In [99]:
#5 count the no in the following tuple

a = (7,0,8,0,0,9)
n = a.count(0)
print(n)

3