# dictionary

In [2]:
marks = {
    "adi" : 100,
    "rohan" : 80,
    "avi" : 50
}
print(marks, type(marks))
print(marks["adi"])
print(marks["avi"])

{'adi': 100, 'rohan': 80, 'avi': 50} <class 'dict'>
100
50

unordered
mutable
indexed
cannot contain duplicate keys

# dict methods

In [4]:
marks = {
    "adi" : 100,
    "rohan" : 80,
    "avi" : 50,
    "rahul" : 20
}

#items dict items ki list dega tuple ke form mai 
print(marks.items())

#keys
print(marks.keys())

#update
marks.update({"avi": 70})
print(marks)

#get 
print(marks.get("aditi"))
print(marks.get("rohan")) #this will give none if key does not exist in the dict
print(marks["rohan"]) #this will give error if key does not exist in dict

#pop
pop = marks.pop("rahul")
print(marks)

#pop item
pop = marks.popitem()
print(marks)

#empty dict
d = {}
print(d)
print(type(d))

dict_items([('adi', 100), ('rohan', 80), ('avi', 50), ('rahul', 20)])
dict_keys(['adi', 'rohan', 'avi', 'rahul'])
{'adi': 100, 'rohan': 80, 'avi': 70, 'rahul': 20}
None
80
80
{'adi': 100, 'rohan': 80, 'avi': 70}
{'adi': 100, 'rohan': 80}
{}
<class 'dict'>

# sets

 they are unordered,
 unindexed # can not access element from index
 there is no way to change item
 sets cannot contain duplicate values

In [6]:
s = {1, 5, 32}

#empty set()
s = set()
type(s)

set

In [7]:
# item can not be repeated
s = {1,2,5,6,7,7,7,7}
print(s)
#order cant not be maintained in set
#existign item ko change nahi kr skte
#duplicate value contain nahi kr skte
#index ke through access nahi kr sakte

{1, 2, 5, 6, 7}

# set methods

In [9]:
s = {1,2,5,6,7,"aditi"}
print(s)
print(type(s))

#add
s.add("rohan")
print(s)

#length
print(len(s))

#remove
s.remove(1)
print(s)

#pop, aage se remove krega 
s.pop()
print(s)

{1, 2, 5, 6, 7, 'aditi'}
<class 'set'>
{1, 2, 5, 6, 7, 'aditi', 'rohan'}
7
{2, 5, 6, 7, 'aditi', 'rohan'}
{5, 6, 7, 'aditi', 'rohan'}

In [10]:
#union saaari values ko ek ek baar le lega
s1 = {1,45,6}
s2 = {7,8,1,78}
print(s1.union(s2))

#intersection ono set mai common ko lega sirf
s1 = {1,32,78,45,6}
s2 = {7,8,1,32,45,78}
print(s1.intersection(s2)) 

#difference
print(s1.difference(s2)) 

#issubset jo value hai wo particular us set mai hona chaiye tab he wo ska subset hoga
print({1}.issubset(s1))

#issuperset
print(s1.issuperset(s2))

{1, 6, 7, 8, 45, 78}
{32, 1, 45, 78}
{6}
True
False

# practice set

In [12]:
#1 create dict

words = {
    "madad" : "help",
    "kursi" : "chair",
    "billi" : "cat"
}

word = input("enter the word for which you want the meaning: ")
print(words[word])

enter the word for which you want the meaning:  billi

cat

In [16]:
#2 display unique no once

s = set()
n = input("enter 1 no: ")
s.add(int(n))
n = input("enter 2 no: ")
s.add(int(n))
n = input("enter 3 no: ")
s.add(int(n))
n = input("enter 4 no: ")
s.add(int(n))
n = input("enter 5 no: ")
s.add(int(n))
n = input("enter 6 no: ")
s.add(int(n))
n = input("enter 7 no: ")
s.add(int(n))
n = input("enter 8 no: ")
s.add(int(n))
print(s)

enter 1 no:  3
enter 2 no:  4
enter 3 no:  5
enter 4 no:  6
enter 5 no:  7
enter 6 no:  8
enter 7 no:  9
enter 8 no:  0

{0, 3, 4, 5, 6, 7, 8, 9}

In [18]:
#3 set with 18 and 18 str as value in it

s = set()
s.add(18) #int
s.add("18") #string
print(s)

{'18', 18}

In [20]:
#4 

# 20 == 20.0 int or float value ko compare krte time py inki value ko determine krta hai ki ye samne hai ya nahi 
s = set()
s.add(20)
s.add(20.0)
s.add("20")
print(s)

{'20', 20}

In [22]:
#5

s = {}
print(type(s))

<class 'dict'>

In [26]:
#6 empty dict enter data for 4 friends

d = {}
name = input("enter friends name: ")
lang = input("enter language name: ")
d.update({name : lang})
name = input("enter friends name: ")
lang = input("enter language name: ")
d.update({name : lang})
name = input("enter friends name: ")
lang = input("enter language name: ")
d.update({name : lang})
name = input("enter friends name: ")
lang = input("enter language name: ")
d.update({name : lang})

print(d)

enter friends name:  aditi
enter language name:  py
enter friends name:  harsh
enter language name:  ml
enter friends name:  gaurja
enter language name:  ai
enter friends name:  panda
enter language name:  openai

{'aditi': 'py', 'harsh': 'ml', 'gaurja': 'ai', 'panda': 'openai'}

In [30]:
#7 2 student have same name

#first name ki value enter hone ke baad agar name same hot ahai to value update ho jaayegi uski
d = {}
name = input("enter friends name: ")
lang = input("enter language name: ")
d.update({name : lang})
name = input("enter friends name: ")
lang = input("enter language name: ")
d.update({name : lang})
name = input("enter friends name: ")
lang = input("enter language name: ")
d.update({name : lang})
name = input("enter friends name: ")
lang = input("enter language name: ")
d.update({name : lang})

print(d)

enter friends name:  aditi
enter language name:  py
enter friends name:  harsh
enter language name:  ml
enter friends name:  harsh
enter language name:  open ai
enter friends name:  gaurja
enter language name:  ai

{'aditi': 'py', 'harsh': 'open ai', 'gaurja': 'ai'}

In [32]:
#7 2 student have same language

d = {}
name = input("enter friends name: ")
lang = input("enter language name: ")
d.update({name : lang})
name = input("enter friends name: ")
lang = input("enter language name: ")
d.update({name : lang})
name = input("enter friends name: ")
lang = input("enter language name: ")
d.update({name : lang})
name = input("enter friends name: ")
lang = input("enter language name: ")
d.update({name : lang})

print(d)

enter friends name:  adiit
enter language name:  py
enter friends name:  harsh
enter language name:  py
enter friends name:  gracy
enter language name:  ml
enter friends name:  panda
enter language name:  openai

{'adiit': 'py', 'harsh': 'py', 'gracy': 'ml', 'panda': 'openai'}

In [ ]:
#8 change