# loops

In [5]:
for i in range(1, 6):
    print(i)

1
2
3
4
5

In [3]:
i = 1
while(i<6):
    print(i)
    i += 1

1
2
3
4
5

In [4]:
# print from 1 to 50

i =1
while(i<=50):
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

In [8]:
# i = 0
# while(i<=5):
#     print("aditi")
#     i = i + 1

aditi
aditi
aditi
aditi
aditi
aditi

In [16]:
l = [1, "aditi", "false", "this","rohan","rahul","shubh"]
i = 0
while(i<len(l)):
    print(l[i])
    i += 1

1
aditi
false
this
rohan
rahul
shubh

In [20]:
for i in range(4):
    print(i)

0
1
2
3

In [22]:
for i in range(0, 100, 4):
    print(i)

0
4
8
12
16
20
24
28
32
36
40
44
48
52
56
60
64
68
72
76
80
84
88
92
96

In [34]:
l = [1,4,6,234, 6, 764]
for i in l:
    print(i)
print()
t = (6,231,75,122)
for i in t:
    print(i)
print()
s = "aditi"
for i in s:
    print(i)

1
4
6
234
6
764

6
231
75
122

a
d
i
t
i

In [36]:
# jab tk value milegi print krega value bnd hui milna to else ko print krega

l = [1,3,5]
for item in l:
    print(item)

else:
    print("done")

1
3
5
done

In [42]:
# break

for i in range(100):
    if (i ==34):
        break  #sb bhul ke exit mar do
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33

In [44]:
# continue

for i in range(100):
    if (i ==34):
        continue  #ye us particular itereation ko skip krega         #
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [52]:
#pass

for i in range(50):
    pass #ye statement chod do phele jo krna hai usse complete krlo 

i = 0
while(i<45):
   print(i)
   i += 1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44

# practice set

In [55]:
#1 print tble

n = int(input("enter the number: "))

for i in range(1, 11):
    print(f"{n} X {i} = {n*i}")

enter the number:  8

8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
8 X 10 = 80

In [8]:
#2 get person name starts with s

l = ["aditi", "harsh", "harsh","vikas","raj","gaurja"]

for name in l:
    if(name.startswith("h")):
        print(f"hello {name}")

hello harsh
hello harsh

In [10]:
# 3 tble using while loop

n = int(input("enter the number: "))

i =1
while(i<11):
    print(f"{n} X {i} = {n*i}") 
    i += 1

enter the number:  2

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20