In [1]:
# 1: Calculate the multiplication and sum of two numbers
def multi_sum(number1, number2):
    product = number1 * number2
    if(product <= 1000):
        return product 
    else: 
        return number1 + number2

result = multi_sum(20,30)
print("the result is = ",result)
result = multi_sum(50,10)
print("the result is = ",result)

the result is =  600
the result is =  500

In [2]:
# 1 add two numbers
number1 = int(input("enter the first number: "))
number2 = int(input("enter the second number: "))
result = number1 + number2
print("the sum of two number is: ", result)

enter the first number:  20
enter the second number:  50

the sum of two number is:  70

In [3]:
# 1 add two numbers using predefine method
num1 = 20
num2 = 30
print("the sum of two number is", num1+num2)

the sum of two number is 50

In [4]:
# 2. find square root
number1 = int(input("enter the first number: "))
root = number1**2
print("the square root of a number is: ", root)

enter the first number:  20

the square root of a number is:  400

In [5]:
# 2. find square root - predefine method
num = 60
root = num**2
print("sqaure root is", root)

sqaure root is 3600

In [6]:
# 3. calculate the area of triangle
height = float(input("enter the height: "))
base = float(input("enter the base: "))
area = (1/2)*base*height
print("the area of triangle is: ",area)

enter the height:  20
enter the base:  10

the area of triangle is:  100.0

In [20]:
# 4. swap two numbers
a = 10
b = 20
c = a
a = b
print("value of a is: ", a)
b = c
print("value of b is: ", c )

value of a is:  20
value of b is:  10

In [22]:
# 5. convertkilometer to miles
km = float(input("enter your values in km: "))
miles =(0.621371)*km
print(km, "km in miles is", miles, "miles")

enter your values in km:  5

5.0 km in miles is 3.106855 miles

In [26]:
# 6. check whether no is + or -
num = int(input("enter number: "))
if num > 0:
    print("the number is positive")
elif num < 0:
    print("the number is negative")
else:
    print("number is zero")

enter number:  -1

the number is negative

In [38]:
# 7. odd or even
num = int(input("enter the number: "))
if num%2==0:
    print("the number is even")
else:
    print("the number is odd")

enter the number:  2

the number is even

In [44]:
# 8. leap year
year = int(input("enter the year:"))
if year%4==0:
    print("the year is leap year")
else:
    print("the year is not leap year")

enter the year: 2024

the year is leap year

In [50]:
# 9. find largest no
num1 = int(input("enter the first number: "))
num2 = int(input("enter the second number: "))
num3 = int(input("enter the third number: "))
if (num1>num2 and num1>num3):
    print("the first number is the largest number")
elif (num2>num1 and num2>3):
    print("the second number is the largest number")
else:
    print("the third number is the largest number")

enter the first number:  20
enter the second number:  10
enter the third number:  100

the third number is the largest number