# Data Frame

In [3]:
import pandas as pd

In [7]:
#list ki help se df
l = [1,2,3,4,5,6]

var = pd.DataFrame(l)

print(type(var))

<class 'pandas.core.frame.DataFrame'>

In [13]:
#dic ki help se df
#length should be same here
d = {"a":[1,2,3,4,5],"s":[1,2,3,4,5]}

var1 = pd.DataFrame(d)

print(type(var1))
print(var1)

<class 'pandas.core.frame.DataFrame'>
   a  s
0  1  1
1  2  2
2  3  3
3  4  4
4  5  5

In [25]:
#dic ki help se df
#length should be same here
d = {"a":[1,2,3,4,5],"s":[1,2,3,4,5],"d":[2,3,4,5,6],1:[3,4,7,8,9]}

var1 = pd.DataFrame(d, columns=["a",1])

print(type(var1))
print(var1)

<class 'pandas.core.frame.DataFrame'>
   a  1
0  1  3
1  2  4
2  3  7
3  4  8
4  5  9

In [37]:
#dic ki help se df
#length should be same here
d = {"a":[1,2,3,4,5],"s":[1,2,3,4,5],"d":[2,3,4,5,6],1:[3,4,7,8,9]}
     

var1 = pd.DataFrame(d, columns=["a",1],index=["a","s","d","f","g"])

print(type(var1))
print(var1)

<class 'pandas.core.frame.DataFrame'>
   a  1
a  1  3
s  2  4
d  3  7
f  4  8
g  5  9

In [39]:
#dic ki help se df
#length should be same here
d = {"a":[1,2,3,4,5],"s":[1,2,3,4,5],"d":[2,3,4,5,6],1:[3,4,7,8,9]}
     

var1 = pd.DataFrame(d)

print(type(var1))
print(var1)

<class 'pandas.core.frame.DataFrame'>
   a  s  d  1
0  1  1  2  3
1  2  2  3  4
2  3  3  4  7
3  4  4  5  8
4  5  5  6  9

In [45]:
#dic ki help se df
#length should be same here
d = {"a":[1,2,3,4,5],"s":[1,2,3,4,5],"d":[2,3,4,5,6],1:[3,4,7,8,9]}
     

var1 = pd.DataFrame(d)

print(type(var1))
print(var1)
print(var1["a"][3])

<class 'pandas.core.frame.DataFrame'>
   a  s  d  1
0  1  1  2  3
1  2  2  3  4
2  3  3  4  7
3  4  4  5  8
4  5  5  6  9
4

In [47]:
list_1 = [[1,2,3,4,5],[11,12,13,14,15]]

var2 = pd.DataFrame(list_1)

print(type(var2))
print(var2)

<class 'pandas.core.frame.DataFrame'>
    0   1   2   3   4
0   1   2   3   4   5
1  11  12  13  14  15

In [49]:
sr = {"s":pd.Series([1,2,3,4]),"r":pd.Series([1,2,3,4])}

var2 = pd.DataFrame(sr)

print(type(var2))
print(var2)

<class 'pandas.core.frame.DataFrame'>
   s  r
0  1  1
1  2  2
2  3  3
3  4  4